################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TreinaWeb.AspNetMvc/TreinaWeb.AspNetMvc.Web/obj/Debug/net6.0/TreinaWeb.AspNetMvc.Web.sourcelink.json
/TreinaWeb.AspNetMvc
/.gitignore
/TreinaWeb_.NetMVC/TreinaWeb.Musics/.vs/TreinaWeb.Musics/FileContentIndex
/TreinaWeb.Musics/.vs/TreinaWeb.Musics/FileContentIndex
