@model TreinaWeb.AspNetMvc.Web.Controllers.TesteController

@{
	ViewData["Title"] = "WELCOME!";
}

<h2>@ViewData["Title"]</h2>
<br />
<br />
<p>Digite seu nome: </p>

@* Abaixo os parametros > to chamando index, do controler Test, por metodo POST(registrar os dados no servidor) *@
@using (Html.BeginForm("Index", "Teste", FormMethod.Post))
{
	<input type="text" id="txbName" name="Username"/>
	<input type="submit" value="Submit"/>
}

