@model TreinaWeb.AspNetMvc.Web.Models.Person

@{
	ViewData["Title"] = "Greetings!";
}
<h2>@ViewData["Title"]</h2>
<br />
<br />
<p>Hello and welcome, @Model.Name</p>
<p>Your age is: @Model.Age</p>
<p>Your Email is: @Model.Email</p>

